<!doctype html>
<html lang="ko" ng-app="libraryApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>도서관에 있나 없나</title>
{#    <link rel="stylesheet" href="static/libs/bootstrap/dist/css/bootstrap.css">#}
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/reset.css">
    <script src="static/libs/angular/angular.js"></script>
    <script src="static/libs/angular-route/angular-route.js"></script>
    <script src="static/libs/angular-resource/angular-resource.js"></script>
    <script src="static/libs/jquery/dist/jquery.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>
    <script src="static/js/filters.js"></script>
    <script src="static/js/service.js"></script>

</head>
<body>
    <div class="container">
        <header class="main">
            <h1 id="logo">도서관에 있나 없나</h1>
            <a href="/#/libraies">도서관에 있나 없나</a>
        </header>
        <aside class="main">
            <nav>
                <a href="">Best Seller</a>
                <a href="">Find Book</a>
            </nav>
        </aside>
        <section class="main">
            <div ng-view class="main"></div>
        </section>
    <div>
</body>
</html>