<!doctype html>
<html lang="ko" ng-app="libraryApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>도서관에 있나 없나</title>
    <link rel="stylesheet" href="static/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/app.css">
    <script src="static/libs/angular/angular.js"></script>
    <script src="static/libs/angular-route/angular-route.js"></script>
    <script src="static/libs/angular-resource/angular-resource.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>
    <script src="static/js/filters.js"></script>
    <script src="static/js/service.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://192.168.219.188:5000/#/libraries">
                    <img alt="Brand" src="http://icons.iconarchive.com/icons/rade8/minium-2/32/Sidebar-Library-icon.png">
                        도서관에 있나 없나
                    </a>
                </div>
            </div>
        </nav>
        <div ng-view></div>
    </div>
</body>
</html>